
html{
  height:100%;
}
body{
  min-height: 100%;
  color: white;
  font-size: 30;
}

#gameScreen{
  height: 500px;
  width: 700px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
#userInput{
  position:fixed;
  top: 400px;
  left: 600px;
  background-color: black;
  width: 20px;
  border:none;
  color:white;
  &::placeholder{
    color: white;
    animation-name: blink;
    animation-duration: 800ms;
    animation-iteration-count: infinite;
    opacity: 1;
  }
}
@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

.message{
  border: 1px solid white;
  padding: 3px;
}

ol{
  line-height: 2;
}
